<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcom to TreeID, your digital tree identification guide</title>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TreeID</a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign up</a></li>
      <li><a href="#">Sign in</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <section id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="link-tooltip">
              <h1>Is Your Tree</br>
                <a href="/leafy" target="_blank" title="Trees that have </br> leaves, and shed</br> them in the </br> winter ">Deciduous</a></br>
                or</br>
                <a href="/evergreen" target="_blank" title="Trees with </br> needles </br> or scales that stay </br> green in the </br> winter"> Evergreen? </a> </h1>
              <h2 class="subtitle">Get started to identify your tree using simple attributes</h2>
            </div>
              <div class="form-group">

              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
              <p class="copyright">Copyright &copy; 2014 - Christian Hamelin</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
