<div class="homediv">
	<h1 class="titlepage">Welcome to TreeID</h1>
</div>

<a href="http://en.wikipedia.org/wiki/Evergreen"><img src="http://stillblog.net/wp-content/uploads/2012/01/needles1.jpg" id="img1"></a>
<a href="http://en.wikipedia.org/wiki/Deciduous"><img src="http://4.bp.blogspot.com/-ZXdiE5xNKQI/U2JR3EM7c-I/AAAAAAAAVSw/MXtcnab5sOw/s1600/IMGP6022.JPG" id="img2"></a>


<div class="question">
	<p>Is your tree <a id="leafy" href="/leafy"> Deciduous </a> 
		Or <a id="evergreen" href="/evergreen"> Evergreen </a>

	</p>
</div>

