<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/application.css">

  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.eot">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.svg">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.ttf">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.woff">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascript/bootstrap.min.js"></script>
  <script src="javascript/jquery.foggy.min.js"></script>
  <script src="javascript/application.js"></script>



  <title>TreeID</title>
</head>

<body>
  <div class='menu'>
  <ul class="navbar">
    <li class="rightborder">
      <div class="navitem in">
        <%=session[:user]%>
      </div>
    </li>

    <li class="leftborder">
      <div class="navitem">
        <% if @current_user %>
          <a href="/profile">PROFILE</a>
        <%else%>
          <a href="/login"> LOGIN</a>
        <%end%>
      </div>
      <div class="image1"></div>
    </li>
  <%= yield %>
</body>
</html>
