<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/application.css">

  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.eot">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.svg">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.ttf">
  <link rel="stylesheet" href="fonts/bootstrap/glyphicons-halflings-regular.woff">

=======
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/application.css">
>>>>>>> f6b2ef0a298b11b55e80591f8726cf6f95febc96
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascript/bootstrap.min.js"></script>
  <script src="javascript/application.js"></script>



  <title>TreeID</title>
</head>

<body>
  <div class='menu'>
  <ul class="navbar">
    <li class="rightborder">
      <div class="navitem in">
        <%=session[:user]%>
      </div>
    </li>

    <li class="leftborder">
      <div class="navitem">
        <% if @current_user %>
          <a href="/profile">PROFILE</a>
        <%else%>
          <a href="/login"> LOGIN</a>
        <%end%>
      </div>
      <div class="image1"></div>
    </li>
  <%= yield %>
</body>
</html>
